@using HeroesAggregator;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="pull-left">&copy; @DateTime.Now.Year - <a href="http://dillanmann.co.uk/">Dillan Mann</a></p>
            <div class="pull-right"><a href="https://github.com/dillanmann/heroes-aggregator">@string.Format("rev {0}", Utils.GetVersionInfo())</a></div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
