@model HotSLogs.Scraper.Models.TeamModel

@{
    ViewBag.Title = "Team MMR - " + Model.Name;
}

<h1>@Model.Name</h1>

<div class="container-fluid">
    @if (Model.Name != null)
    {
        var players = Model.Players;
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Player Name</th>
                    <th>Battle Tag</th>
                    <th>Hero League MMR</th>
                    <th>Team League MMR</th>
                    <th>Unranked Draft MMR</th>
                    <th>Weighted MMR</th>
                    <td>
                        <input type="checkbox" class="row-select-all" />
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in players)
                {
                    <tr id="@player.PlayerName" class="player-row">
                        <td>@player.PlayerName</td>
                        <td>@player.BattleTag</td>
                        <td>@( player.HeroLeagueMmr == -1 ? "" : player.HeroLeagueMmr.ToString() )</td>
                        <td>@( player.TeamLeagueMmr == -1 ? "" : player.TeamLeagueMmr.ToString() )</td>
                        <td>@( player.UnrankedDraftMmr == -1 ? "" : player.UnrankedDraftMmr.ToString() )</td>
                        <td class="weighted-mmr">@player.WeightedMmr</td>
                        <td>
                            <input type="checkbox" class="row-select" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h3>@("Team MMR: " + Model.AverageMmr.ToString("0.00"))</h3>
        <h3 id="selected-mmr"></h3>
    }
    else
    { 
        <h1>Error</h1>
        <h3>Team does not exist</h3>
    }
    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Home")'">Back</button>
</div>
@section Scripts{
    <script src="~/Scripts/Heroes.js"></script>
}